body,
ul,
li,
p,
h1,
h2,
h3,
h4,
dl,
dd,
form,
input,
textarea,
select {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ccc;
}

input {
    border: none;
    outline: none;
}

ul,
li {
    list-style: none;
}

button {
    outline: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

* {
    margin: 0;
}